<div class="w-screen h-screen flex flex-col justify-center items-center">
    <p class="text-8xl font-bold text-blue-500">404</p>
    <p class="text-xl uppercase font-bold">page not found</p>
    <div class="flex flex-row pt-4">
        <p class="text-sm">Resource requested was not found. Back to</p>
        <a
            class="text-sm text-black hover:text-blue-500 underline ml-2"
            href="/dashboard/websites"
            >websites</a
        >
        <p class="text-sm uppercase">.</p>
    </div>
</div>
