<section class="{{ backgroundColor }} text-gray-800 py-5">
    <div class="w-full h-full flex justify-center items-center">
        <div class="grid grid-cols-2 gap-4 px-10" [ngClass]="calculateGrid()">
            <div
                class="h-96 {{
                    card.color
                }} rounded-lg border-2 border-gray-300 overflow-hidden shadow-lg"
                *ngFor="let card of data.cards"
            >
                <div class="h-3/6 w-full">
                    <img
                        src="{{ card.image }}"
                        alt=""
                        class="object-cover w-full h-full"
                    />
                </div>
                <div
                    class="h-auto w-full flex justify-start items-center font-bold {{
                        card.titleSize
                    }} {{ card.titleColor }} px-4 py-2"
                >
                    {{ card.title }}
                </div>
                <div
                    class="h-full w-60 rounded-b-lg text-gray-400 px-4 {{
                        card.descriptionSize
                    }} {{ card.descriptionColor }}"
                >
                    {{ card.description }}
                </div>
            </div>
        </div>
    </div>
</section>
