<form [formGroup]="form" class="flex flex-col gap-2">
    <div class="border-b-2 border-t-2 py-2 px-4">
        <p class="text-sm text-slate-500">Color</p>
    </div>
    <app-color
        [control]="form.controls['backgroundColor']"
        [select]="'background'"
        [label]="'Background'"
    ></app-color>
    <app-color
        [control]="form.controls['color']"
        [select]="'text'"
        [label]="'Title'"
    ></app-color>
    <app-color
        [control]="form.controls['textColor']"
        [select]="'text'"
        [label]="'Description'"
    ></app-color>
    <app-color
        [control]="form.controls['borderColor']"
        [select]="'border'"
        [label]="'Border'"
    ></app-color>
    <div
        class="border-b-2 border-t-2 py-2 px-4 flex flex-row justify-between items-center"
    >
        <p class="text-sm text-slate-500">Participants</p>
        <button (click)="addParticipant()">+</button>
    </div>
    <div
        class="pb-2 flex flex-col"
        cdkDropList
        (cdkDropListDropped)="drop($event)"
    >
        <div
            class="bg-white flex flex-col justify-between items-center gap-2 w-full h-auto border-b-2 px-4 py-3"
            *ngFor="
                let participant of this.participants;
                index as i;
                trackBy: trackByFn
            "
            cdkDrag
        >
            <div class="h-full w-full flex flex-row gap-2 items-center">
                <div class="h-full w-1/2 flex flex-row items-center gap-2">
                    <div class="h-full w-auto flex justify-center items-center">
                        <button
                            class="flex h-full w-full items-center justify-center"
                            cdkDragHandle
                        >
                            <svg
                                class="w-6 h-6 text-gray-800 dark:text-white"
                                aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                fill="none"
                                viewBox="0 0 24 24"
                            >
                                <path
                                    stroke="currentColor"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M8 4H4m0 0v4m0-4 5 5m7-5h4m0 0v4m0-4-5 5M8 20H4m0 0v-4m0 4 5-5m7 5h4m0 0v-4m0 4-5-5"
                                />
                            </svg>
                        </button>
                    </div>
                    <button
                        class="h-full w-28 flex justify-center items-start flex-col"
                        (click)="
                            toggle && selectedIndex === i
                                ? toggleOpen()
                                : select(participant, i)
                        "
                    >
                        <p class="font-bold text-xs">Participant {{ i + 1 }}</p>
                    </button>
                </div>
                <div
                    class="h-full w-1/2 flex flex-row items-center justify-end"
                    *ngIf="toggle && selectedIndex === i"
                >
                    <app-delete-confirm
                        (delete)="deleteParticipant(i)"
                    ></app-delete-confirm>
                </div>
            </div>
            <div
                class="h-full w-full my-3"
                *ngIf="toggle && selectedIndex === i"
            >
                <form [formGroup]="participantForm" class="flex flex-col gap-2">
                    <label for="title" class="text-xs font-bold">Title</label>
                    <input
                        type="text"
                        name="title"
                        class="w-full h-10 rounded-[7px] border border-blue-gray-200"
                        formControlName="name"
                    />
                    <label for="description" class="text-xs font-bold"
                        >Description
                    </label>
                    <textarea
                        type="text"
                        name="description"
                        formControlName="description"
                        class="h-40 min-h-[100px] w-full resize-none rounded-[7px] border border-blue-gray-200 bg-transparent px-3 py-2.5 text-sm font-normal"
                    ></textarea>
                    <div class="flex flex-col gap-2">
                        <div
                            class="h-20 w-full relative rounded-lg overflow-hidden"
                            *ngIf="participantForm.controls['image'].value"
                        >
                            <div
                                (click)="handleRemove()"
                                class="h-20 w-full absolute z-10 rounded-lg text-slate-500 border-2 hover:border-red-500 flex justify-center items-center hover:text-red-500 cursor-pointer"
                            >
                                <svg
                                    class="w-6 h-6"
                                    aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="24"
                                    height="24"
                                    fill="currentColor"
                                    viewBox="0 0 24 24"
                                >
                                    <path
                                        fill-rule="evenodd"
                                        d="M8.586 2.586A2 2 0 0 1 10 2h4a2 2 0 0 1 2 2v2h3a1 1 0 1 1 0 2v12a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V8a1 1 0 0 1 0-2h3V4a2 2 0 0 1 .586-1.414ZM10 6h4V4h-4v2Zm1 4a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Zm4 0a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Z"
                                        clip-rule="evenodd"
                                    />
                                </svg>
                            </div>
                        </div>

                        <input
                            type="file"
                            (change)="handleChange($event)"
                            accept="image/*"
                            class="w-full"
                            *ngIf="!participantForm.controls['image'].value"
                        />
                    </div>
                    <label for="description" class="text-xs font-bold"
                        >Link
                    </label>
                    <input
                        type="text"
                        name="title"
                        class="w-full h-10 rounded-[7px] border border-blue-gray-200"
                        formControlName="link"
                    />
                </form>
            </div>
        </div>
    </div>
</form>
