
.top-bar-height{
    height: 4.7%;
}

.editor-height{
    height: 90.6%;
}

.bottom-bar-height{
    height: 4.7%;
}

.header-height {
    height: 6%;
}

.content-height {
    height: 94%;
}

.header-height-component {
    height: 7.3%;
}

.content-height-component {
    height: 92.7%;
}

.container-scroll {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.container-scroll::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}
