<form [formGroup]="mediaForm" class="flex flex-col gap-2">
    <div class="border-b-2 border-t-2 py-2 px-4">
        <p class="text-sm text-slate-500">Content</p>
    </div>
    <div class="pb-2 flex flex-col gap-2">
        <div class="px-4">
            <div
                class="flex justify-start items-center h-8 w-full rounded-t-md border border-b-0 border-gray-400 overflow-hidden bg-slate-100"
            >
                <select
                    class="w-auto text-black-900 text-sm border-none bg-slate-100"
                    formControlName="textSize"
                >
                    <option value="text-xs">X-Small text</option>
                    <option value="text-sm">Small text</option>
                    <option value="text-base">Normal text</option>
                    <option value="text-lg">Large text</option>
                    <option value="text-xl">X-Large text</option>
                    <option value="text-2xl">2X-Large text</option>
                    <option value="text-4xl">4X-Large text</option>
                    <option value="text-6xl">6X-Large text</option>
                    <option value="text-8xl">8X-Large text</option>
                </select>
                <div class="h-full w-auto border-r-2">
                    <button
                        (click)="toggleValue(mediaForm.controls['textWeight'], 'font-bold')"
                        class="text-center font-bold w-8 h-full hover:bg-slate-200"
                        [ngClass]="mediaForm.controls['textWeight'].value === 'font-bold' ? 'bg-slate-200' :'' "
                    >
                        B
                    </button>
                    <button
                        (click)="toggleValue(mediaForm.controls['textStyle'], 'italic')"
                        class="text-center italic w-8 h-full hover:bg-slate-200"
                        [ngClass]="mediaForm.controls['textStyle'].value === 'italic' ? 'bg-slate-200' :'' "
                    >
                        I
                    </button>
                </div>
            </div>
            <input
                type="text"
                name="name"
                class="w-full h-10 rounded-b-[7px] border border-blue-gray-200"
                formControlName="text"
            />
        </div>
        <div class="px-4">
            <div
                class="flex justify-start items-center h-8 w-full rounded-t-md border border-b-0 border-gray-400 overflow-hidden bg-slate-100"
            >
                <select
                    class="w-auto text-black-900 text-sm border-none bg-slate-100"
                    formControlName="subTextSize"
                >
                    <option value="text-xs">X-Small text</option>
                    <option value="text-sm">Small text</option>
                    <option value="text-base">Normal text</option>
                    <option value="text-lg">Large text</option>
                    <option value="text-xl">X-Large text</option>
                </select>
                <div class="h-full w-auto border-x-2">
                    <button
                        (click)="toggleValue(mediaForm.controls['subTextWeight'], 'font-bold')"
                        class="text-center font-bold w-8 h-full hover:bg-slate-200"
                        [ngClass]="mediaForm.controls['subTextWeight'].value === 'font-bold' ? 'bg-slate-200' :'' "
                    >
                        B
                    </button>
                    <button
                        (click)="toggleValue(mediaForm.controls['subTextStyle'], 'italic')"
                        class="text-center italic w-8 h-full hover:bg-slate-200"
                        [ngClass]="mediaForm.controls['subTextStyle'].value === 'italic' ? 'bg-slate-200' :'' "
                    >
                        I
                    </button>
                </div>
            </div>
            <textarea
                type="text"
                name="subText"
                formControlName="subText"
                class="h-40 min-h-[100px] w-full resize-none rounded-b-md border border-gray-400 bg-transparent px-3 py-2.5 text-sm font-normal"
            ></textarea>
        </div>
    </div>

    <div class="border-b-2 border-t-2 py-2 px-4">
        <p class="text-sm text-slate-500">Media (Youtube Link)</p>
    </div>
    <div class="pb-2 flex flex-col gap-2">
        <div class="px-4">
            <input
                type="text"
                name="name"
                class="w-full h-10 rounded-[7px] border border-blue-gray-200"
                formControlName="media"
            />
        </div>
    </div>

    <div class="pb-2 flex flex-col gap-2">
        <div class="px-4">
            <div
                class="flex justify-start items-center h-8 w-full rounded-md border border-gray-400 overflow-hidden bg-slate-100"
            >
                <div class="h-full w-auto border-x-2">
                    <button
                        (click)="toggleBol(mediaForm.controls['textToggle'])"
                        class="italic w-8 h-full hover:bg-slate-200 flex justify-center items-center"
                        [ngClass]="mediaForm.controls['textToggle'].value ? 'bg-slate-200' :'' "
                    >
                        <svg
                            class="w-5 h-5 text-gray-800 dark:text-white"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            fill="none"
                            viewBox="0 0 24 24"
                        >
                            <path
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M7 6.2V5h12v1.2M7 19h6m.2-14-1.677 6.523M9.6 19l1.029-4M5 5l6.523 6.523M19 19l-7.477-7.477"
                            />
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="border-b-2 border-t-2 py-2 px-4 flex gap-1 jys">
        <p class="text-sm text-slate-500">Color</p>
    </div>
    <app-color
        [control]="mediaForm.controls['backgroundColor']"
        [select]="'background'"
        [label]="'Background'"
    ></app-color>
    <app-color
        [control]="mediaForm.controls['color']"
        [select]="'text'"
        [label]="'Text'"
    ></app-color>
</form>
